@import '../../styles/vars.scss';

$c-music-player: #F0F0F0;

.AudioPlayer {
  display: flex;

  height: 308px;
  border-radius: $base-border-radius;
  background-color: $c-music-player;

  stroke-width: 1px;
  stroke: #FFF;
  filter: drop-shadow(0px 40px 60px rgba(65, 44, 100, 0.30));

  &__show {
    border-radius: 0 0 $base-border-radius $base-border-radius;
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    border-radius: $base-border-radius;
    width: 100%;
    padding-inline: 50px;
    padding-block: 60px;
  }
}